<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_footer.css">
</head>
<body>
    <footer>
        <div class="footer-wrapper">
    
                <div class="footer-links">
                    <img src="../assets/icons/nav/main_icon.svg" alt="">
                    <div class="footewr-icons">
                        <img src="../assets/icons/footer/facebook.svg" alt="">
                        <img src="../assets/icons/footer/twitter.svg" alt="">
                        <img src="../assets/icons/footer/in.svg" alt="">
                        <img src="../assets/icons/footer/instagram.svg" alt="">
                    </div>
                </div>
                <div class="foooter-explorer">
                    <h3>Explore</h3>
                    <ul>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Home</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">About</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Articles</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Our Store</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Contact Us</a>
                        </li>
                      </ul>  
                </div>
                <div class="foooter-utility">
                    <h3>Utility Pages</h3>
                    <ul>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Style Guide</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">404 Not Found</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Password Protected</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Licenses</a>
                        </li>
                        <li>
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <img src="../assets/icons/footer/Vector.svg" alt="">
                            <a href="">Contact Us</a>
                        </li>
                      </ul>  
                </div>
                <div class="footer-contacts">
                    <h3>Keep in Touch</h3>
                    <div class="footer-adress">
                        <p class="adress">Address :</p>
                        <p>24A Kingston St, Los Vegas <br>NC 28202, USA.</p>
                    </div>
                    <div class="footer-adress">
                        <p class="mail">Mail :</p>
                        <p>support@pages.com</p>
                    </div>
                    <div class="footer-adress">
                        <p class="phone">Phone :</p>
                        <p>(+22) 123 - 4567 - 900</p>
                    </div>
                </div>

        </div>
    </footer>
</body>
</html>