<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/_home.css">
</head>
<body>
    <main>
        <div class="main-wrapper">
            <div class="main-left">
                <div class="welcome">
                    <div class="rectangle"></div>
                    <span>Welcome to Pages!!!</span>
                </div>
                <h1>Your Books From <br> The Best Writer.</h1>
                <p class="main-left-descr">We believe that reading books are essential to a healthy culture.</p>
                <p class="main-left-descr">They’re where authors can connect with readers.</p>
                <div class="make-order">
                    <button>Order Today</button>
                    <a href="">Read Free Demo</a>
                </div>
                <div class="checks">
                    <div class="checks-elem">
                        <div class="checks-elem-item">
                            <div class="check-btn"></div>
                            <p>Pages:</p>
                        </div>
                        <p class="item-descr">250pages</p>
                    </div>
                    <div class="checks-elem">
                        <div class="checks-elem-item">
                            <div class="check-btn"></div>
                            <p>Length:</p>
                        </div>
                        <p class="item-descr">10 Hours</p>
                    </div>
                    <div class="checks-elem">
                        <div class="checks-elem-item">
                            <div class="check-btn"></div>
                            <p>Rating:</p>
                        </div>
                        <p class="item-descr">4.5/5 (305 ratings)</p>
                    </div>

                </div>
            </div>
            <div class="main-right">
                <div class="loader"></div>
            </div>
        </div>
    </main>
</body>
<script src="../scripts/home.js"></script>
</html>