* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    background-color: #272727;
    padding: 75px 0;
}
.footer_wrapper {
    width: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.footer_items_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer_item {
    list-style: none;
    padding: 0;
}
.footer_item_title {
    color: #E8E8E8;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}
.footer_item_link {
    color: #E8E8E8;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}
.footer_item > li{
    margin-bottom: 20px;
}

