.slider {
    background-color: #272727;
}

.slider_wrapper {
    width: 91%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}
.slider_icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 75px;
}

.slider_icons a {
    margin-bottom: 20px;
    align-self: flex-end;
    margin-right: 20px;
}
.slider_luxury {
    width: 58%;
    margin: auto;
    margin-bottom: 330px;
}
.slider_control {
    display: flex;
    justify-content: space-between;
}
.slide_descr {
    display: flex;
    justify-content: space-around;
    background-color: #272727;
    width:56% ;
    padding: 60px 0 40px;
}
.slide_descr_item {
    display: flex;
}
.slider_number {
    color: #FFF;
    font-family: Gilroy;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;

}
.descr {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.slide_descr_item > .slider_number:not(:last-child) {
    margin-right: 35px;
}
.slider_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30%;  
}
.slider_btns > span {
    color: white;
}
.slider_btn {
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4px;
    background: none;
    border: none;
}
